.footer-status {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
  .footer-status-right {
    display: none;
  }
}

.footer {
  color: var(--text-black);
  padding: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: -0.05em;
}

.footer-center {
  font-size: 0.85rem;
  font-weight: 700;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .footer-center {
    display: none;
  }
  
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
